@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap");
body {
  background-color: #f7f7e8;
  height: 160vh;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-img {
  height: 50px;
  width: 50px;
}
.header-headline {
  margin-left: -10%;
  color: #383E56;
  font-family: "Monoton", cursive;
}
.header a {
  text-decoration: none;
  color: #383E56;
  font-family: "Averia Serif Libre", cursive;
}

.sec-head, .sec2-jahr, .sec3-erLabel, .sec2-kirche, .sec2-art, .sec3-erLabel3, .sec2-versteuerndes, .sec3-erLabel2 {
  font-family: "Averia Serif Libre", cursive;
  padding-left: 5%;
}
.sec-para {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8em;
  font-weight: 600;
  padding-left: 5%;
}
.sec-div, .divErgebnis {
  background-color: #557174;
  width: 89vw;
  font-family: "Averia Serif Libre", cursive;
  margin-left: 5%;
  padding: 10px 0;
  color: #f7f7e8;
}

.sec2 {
  height: 60vh;
  margin: 1% 5% 0 5%;
  display: flex;
}
.sec2-imgRechner {
  height: 110vh;
  width: 30vw;
}
.sec2-form, .sec3-form2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 100px);
  color: #f7f7e8;
  background-color: #0d335d;
  margin-left: 1%;
  width: 70vw;
}
.sec2-jahr, .sec3-erLabel, .sec2-kirche, .sec2-art, .sec3-erLabel3, .sec2-versteuerndes, .sec3-erLabel2 {
  padding-left: 0;
  grid-area: 1/1/2/2;
  justify-self: end;
  align-self: center;
  font-size: 1.2em;
}
.sec2-select, .sec2-select2, .sec2-einkommen, .sec3-gesamt, .sec3-erKirche, .sec3-erEinkommen {
  grid-area: 1/2/2/3;
  justify-self: start;
  width: 40%;
  height: 20%;
  align-self: center;
  margin-left: 2%;
}
.sec2-versteuerndes, .sec3-erLabel2 {
  grid-area: 2/1/3/2;
}
.sec2-einkommen, .sec3-gesamt, .sec3-erKirche, .sec3-erEinkommen {
  grid-area: 2/2/3/3;
}
.sec2-euro {
  grid-area: 2/2/3/3;
  align-self: center;
  justify-self: center;
  font-family: "Averia Serif Libre", cursive;
}
.sec2-art, .sec3-erLabel3 {
  grid-area: 3/1/4/2;
}
.sec2-ra1, .sec2-ra2 {
  grid-area: 3/2/4/3;
  justify-self: start;
  align-self: center;
  margin-left: 2%;
}
.sec2-einzel, .sec2-zusammen {
  font-family: "Averia Serif Libre", cursive;
  grid-area: 3/2/4/3;
  justify-self: start;
  margin-left: 8%;
  align-self: center;
}
.sec2-ra2 {
  align-self: end;
}
.sec2-zusammen {
  align-self: end;
}
.sec2-kirche {
  grid-area: 4/1/5/2;
}
.sec2-select2 {
  grid-area: 4/2/5/3;
}
.sec2-berechnen {
  grid-area: 5/2/6/3;
  align-self: flex-start;
  justify-self: start;
  font-family: "Averia Serif Libre", cursive;
  background-color: #557174;
  color: #f7f7e8;
  padding: 6px 30px;
  border: #557174 solid 1px;
  border-radius: 5px;
  margin-left: 2%;
}
.sec2-berechnen:hover {
  background-color: #f7f7e8;
  color: #557174;
}

.divErgebnis {
  margin: 1% 0 0 36.2%;
  width: 54.2vw;
  height: 3vh;
  padding: 1% 2%;
  font-size: 1.2em;
}

.sec3 {
  height: 40vh;
  margin: 1% 0% 0 38%;
}
.sec3-form2 {
  margin-left: 34.6%;
  width: 58.1vw;
  grid-template-rows: repeat(3, 100px);
}
.sec3-erEinkommen {
  grid-area: 1/2/2/3;
}
.sec3-gesamt {
  grid-area: 3/2/4/3;
}

.footer {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
  font-size: 0.7em;
  font-family: "IBM Plex Mono", monospace;
}
.footer-symbol {
  margin-left: -10%;
}

/*# sourceMappingURL=stylo.css.map */
